<IfModule mod_rewrite.c>
    # ----------------------------------------------------------------------
    # القاعدة 0: تفعيل تتبع الروابط الرمزية (Symbolic Links)
    # ----------------------------------------------------------------------
    # هذا السطر ضروري للسماح للخادم بالوصول إلى الملفات
    # الموجودة في مجلد storage عبر الرابط storage -> ../storage/app/public
    Options +FollowSymLinks

    RewriteEngine On

    # ----------------------------------------------------------------------
    # القاعدة 1: إعادة توجيه كل الطلبات إلى مجلد "public"
    # ----------------------------------------------------------------------
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>